/* phone */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .product-img {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
}

.header-logo {
    height: 37px;
}
.search-bar-btn {
    margin-left: 10px;
}
.navbar-with-search {
    justify-content: space-between;
    height: 55px;
}
.search-cart {
        margin: 0;
        position: relative;
        top: 4px;
    }
.search {
        position: absolute;
        top: calc(100% - 40px);
        right: 0;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1px 3px #ccc;
        padding: 0 8px;
        display: none;
        animation: headerSearchAnimation linear 0.1s;
    }
label .header-search-icon {
    display: block;
}
input#header-search-trigger:checked  ~ .search {
    display: flex;
}
@keyframes headerSearchAnimation {
    from {
        opacity: 0;
        top: calc(100% - 65px);
    }
    to {
        opacity: 1;
        top: calc(100% - 40px);

    }
}
.search-history {
    min-width: 100%;
    top: calc(100% + 2px);
}
.pagination-item {
    min-width: 30px;
}
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
.hide-on-tablet {
        display: none;
    }
}
/* phone and tablet */
@media screen and (max-width: 1023px) {
    .main-container {
    padding-top: 15px;
}
    .hide-on-mobile-tablet, .cart-inner::before {
        display: none;
    }
    .search {
    margin-left: 20px;  
    }
    .search-cart {
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
    .navbar-item-user {
        display: block;
    }
    .cart-inner {
    position: fixed;
    right: 0;
    top: 76px;
    width: 100%;
    padding: 0 calc((100% - 644px) / 2);
    z-index: 999;
    }
    .header {
    position: fixed;
    width: 100%;
    z-index: 99;
    }
    .main-container {
    margin-top: 131px;
    }
    .cart-inner__list {
    height: 40vh;
    }
    .mobile-catagory-link {
        -webkit-tap-highlight-color: transparent;
    }
    .footer-download {
    transform: scale(0.6);
}
.footer__content {
    padding-left: 12px ;
}
.footer-heading, .footer-list {
    text-align: center;
}
}
/* > pc low */
@media (min-width: 1113px) {
    .hide-on-pc {
        display: none !important;
    }
}
/* PC low resolution */
@media (min-width: 1024px) and (max-width: 1112px) {
    .hide-on-pc-low {
        display: none !important;
    }
    .product-img {
    height: 350px;
    }
    .footer-download {
    transform: scale(0.5);
    transform-origin: 0 0;
}
}
